#main-content {
}

#icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: gainsboro;
    width: 60vw;
    height: 60vw;
}

#main-icon {
    width: 70%;
    height: 70%;
}