::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background: #fff;
    border-left: solid 1px #ececec;
}
::-webkit-scrollbar-thumb{
    background: #383838;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #fff;
}

@media screen and (min-width:0px) {
    .icon-circle {
        width: 85vw;
        height: 85vw;
    }
    #move-text {
        font-size: 5vw;
    }
    .contents-box {
        font-size: 6.5vw;
        flex-direction: row;
        justify-content: center;
    }
    .font-small {
        font-size: 5vw;
    }
    .info-box {
        flex-direction: column;
        justify-content: center;
    }
    .title {
        text-align: center;
    }
    .subsection {
        font-size: 6vw;
    }
    .page-message {
        text-align: center;
    }
    article {
        margin-top: 50px;
    }
}
@media screen and (min-width:800px) {
    .icon-circle {
        width: 70vw;
        height: 70vw;
        margin-bottom: 30px;
    }
    #move-text {
        font-size: 5vw;
    }
    .contents-box {
        font-size: 40px;
        flex-direction: row;
        justify-content: center;
    }
    .font-small {
        font-size: 35px;
    }
    .info-box {
        flex-direction: column;
        justify-content: center;
    }
    .title {
        text-align: center;
    }
    .subsection {
        font-size: 40px;
    }
    .page-message {
        text-align: center;
    }
    article {
        margin-top: 60px;
    }
}
@media screen and (min-width:1024px) {
    #main {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .icon-circle {
        width: 80vh;
        height: 80vh;
    }
    #move-text {
        font-size: 3vw;
    }
    .contents-box {
        font-size: 40px;
        flex-direction: row;
        justify-content: space-between;
    }
    .font-small {
        font-size: 30px;
    }
    .subsection {
        font-size: 40px;
    }
    .info-box {
        flex-direction: row;
        justify-content: space-between;
    }
    article {
        margin-top: 100px;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        opacity: 0.8;
        z-index: 1000;
    }
    .header-1 {
        position: fixed;
        top: 10px;
        left: 10vw;
    }
    .header-2 {
        position: fixed;
        top: 15px;
        right: 10vw;
    }
}

a {
    color: black;
    text-decoration: none;
}

footer {
    margin-top: 50px;
}

.main-content-move {
    transition: transform 1s;
}

/*home*/
.icon-circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 50%;
    background-color: gainsboro;
}

#main-icon {
    width: 82%;
    height: 82%;
    cursor: pointer;
}

.info-box {
    display: flex;
}

.title {
    cursor: pointer;
    font-size: 50px;
}

.contents-box {
    display: flex;
}

.link-content {
    margin-left: 10px;
    margin-top: 10px;
}

.contents-box-item {
    margin-left: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.page-message {
    margin-top: 10px;
}

.link-box {
    display: flex;
    justify-content: space-between;
}

.font-style {
    font-family: 'Archivo Black', sans-serif;
}

#move-text {
    display: flex;
    white-space: nowrap;
}

/*profile*/
@media screen and (min-width:0px) {
    dt {
        clear: left;
        float: left;
        width: 10%;
    }
    dd {
        margin-left: 35vw;
    }
    #profile-main {
        font-size: 2vw;
    }
    #profile-main {
        font-size: 5vw;
    }
    dt {
        padding-bottom: 5px;
    }
}
@media screen and (min-width: 800px) {
    dt {
        clear: left;
        float: left;
        width: 10%;
    }
    dd {
        margin-left: 200px;
    }
    #profile-main {
        font-size: 30px;
    }
    dt {
        padding-bottom: 5px;
    }
}
@media screen and (min-width:1024px) {
    dd {
        margin-left: 250px;
    }
    #profile-main {
        font-size: 40px;
    }
    dt {
        padding-bottom: 5px;
    }
}

dl {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

