@media screen and (min-width:480px) {
    .icon-circle {
        width: 85vw;
        height: 85vw;
    }
    #move-text {
        font-size: 5vw;
    }
    .contents-box {
        font-size: 60px;
        flex-direction: row;
        justify-content: center;
    }
    .font-small {
        font-size: 50px;
    }
    .info-box {
        flex-direction: column;
        justify-content: center;
    }
    .title {
        text-align: center;
    }
    .page-message {
        text-align: center;
    }
}
@media screen and (min-width:800px) {
    .icon-circle {
        width: 70vw;
        height: 70vw;
        margin-bottom: 30px;
    }
    #move-text {
        font-size: 5vw;
    }
    .contents-box {
        font-size: 50px;
        flex-direction: row;
        justify-content: center;
    }
    .font-small {
        font-size: 40px;
    }
    .info-box {
        flex-direction: column;
        justify-content: center;
    }
    .title {
        text-align: center;
    }
    .page-message {
        text-align: center;
    }
}
@media screen and (min-width:1024px) {
    #main {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .icon-circle {
        width: 60vw;
        height: 60vw;
    }
    #move-text {
        font-size: 3vw;
    }
    .contents-box {
        font-size: 45px;
        flex-direction: row;
        justify-content: space-between;
    }
    .font-small {
        font-size: 35px;
    }
    .info-box {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width:1600px) {
    #main {
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .icon-circle {
        width: 40vw;
        height: 40vw;
    }
    #move-text {
        font-size: 3vw;
    }
    .contents-box {
        font-size: 40px;
        flex-direction: row;
        justify-content: space-between;
    }
    .font-small {
        font-size: 30px;
    }
    .info-box {
        flex-direction: row;
        justify-content: space-between;
    }
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 50%;
    background-color: gainsboro;
}

#main-icon {
    width: 82%;
    height: 82%;
}

.info-box {
    display: flex;
}

.title {
    font-size: 50px;
}

.contents-box {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}

.link-content {
    margin-left: 10px;
    margin-top: 10px;
}

.contents-box-item {
    margin-left: 10px;
}

.page-message {
    margin-top: 20px;
}

.link-box {
    display: flex;
    justify-content: space-between;
}

.font-style {
    font-family: 'Archivo Black', sans-serif;
}

#move-text {
    display: flex;
    white-space: nowrap;
}
