<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134718657-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134718657-1');
    </script>

    <meta charset="UTF-8">
    <title>strvworks</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <header class="info-box font-style">
            <div @click="change_page('home')" class="title header-1">strvworks</div>
            <div class="contents-box header-2">
                <div class="link-content">
                    <nav class="link-box">
                        <span @mouseenter="cursor_enter" @mouseleave="cursor_leave" @click="change_page('work')" class="contents-box-item font-small"><i class="fas fa-pager"></i> Work</span>
                        <span @mouseenter="cursor_enter" @mouseleave="cursor_leave" @click="change_page('profile')" class="contents-box-item font-small"><i class="fas fa-user-alt"></i> Profile</span>
                        <span @mouseenter="cursor_enter" @mouseleave="cursor_leave" @click="open_url('http://strv13570.hateblo.jp/')" class="contents-box-item font-small"><i class="fas fa-pen"></i> Blog</span>
                        <span @mouseenter="cursor_enter" @mouseleave="cursor_leave" @click="open_url('https://qiita.com/strv13570')" class="contents-box-item font-small"><i class="fas fa-cogs"></i> Qiita</span>
                    </nav>
                </div>
            </div>
        </header>
        <article class="font-style">
            <template v-if="page_state == 'home'">
                <div id="home">
                    <figure class="icon-circle">
                        <img id="main-icon" @click="icon_click" @mouseenter="cursor_enter" @mouseleave="cursor_leave" src="images/icon.png"/>
                        <div id="move-text">
                            <span>{{move_text}}</span>
                        </div>
                    </figure>
                </div>
            </template>

            <template v-if="page_state == 'profile'">
                <section class="section">
                    <h1 class="subsection">Profile</h1>
                    <div class="profile-content" >
                        <dl>
                            <dt>Name: </dt>
                            <dd>ISHIKAWA RIKU</dd>
                        </dl>
                        <dl>
                            <dt>HN: </dt>
                            <dd>すとんりばー</dd>
                        </dl>
                        <dl>
                            <dt>AGE: </dt>
                            <dd>19</dd>
                        </dl>
                        <dl>
                            <dt>GENDER: </dt>
                            <dd>MAN</dd>
                        </dl>
                    </div>
                    <div class="profile-text">
                        <p>苫小牧工業高等専門学校 情報科学工学系に在籍している。ただし休学中。情報技術ならたいてい好きだが、OS、セキュリティ等のコンピュータを感じられる低レイヤ分野が特に好き。Webは苦手。このサイトは泣きながら作った。</p>
                        <p>アセンブリからゲームエンジンを用いたゲーム開発、画像編集したりモデリングしたりシナリオ書いたりまでなんでもやる。創作活動が大好きだが、どれも極めることができていない。突出した分野を作るため模索中。</p>
                        <p>プログラミング教育活動やサークル運営、勉強会運営なども行う。3社での実務経験あり。現在の業務では組み込み系の開発をやっている。</p>
                    </div>
                    <div class="profile-content" >
                        <dl>
                            <dt>Likes: </dt>
                            <dd>Vim</dd>
                            <dd>ArchLinux</dd>
                            <dd>Tiling wm</dd>
                            <dd>Home server</dd>
                            <dd>DIY computer</dd>
                            <dd>Cherry MX Blue</dd>
                            <dd>Novel</dd>
                            <dd>Astronomy</dd>
                            <dd>Minecraft</dd>
                            <dd>etc...</dd>
                        </dl>
                        <dl>
                            <dt>Skillset: </dt>
                            <dd>C/C++</dd>
                            <dd>Go</dd>
                            <dd>Python</dd>
                            <dd>Embed System</dd>
                            <dd>Linux</dd>
                            <dd>Nginx</dd>
                            <dd>Docker</dd>
                            <dd>UE4</dd>
                            <dd>PhotoShop</dd>
                            <dd>Illustrator</dd>
                            <dd>Blender</dd>
                            <dd>Houdini</dd>
                            <dd>etc...</dd>
                            <dd class="comm-text">※出来るとは言っていない</dd>
                        </dl>
                    </div>
                </section>
            </template>

            <template v-if="page_state == 'work'">
                <section class="section">
                    <h1 class="subsection">ただいま</h1>
                    <div id="work-main">
                        <img src="images/kouzi.jpg" height="1024" width="421"/>
                    </div>
                </section>
            </template>
        </article>
        <footer class="info-box font-style">
            <div class="contents-box footer-1">
                <div>SNS</div>
                <div class="link-content">
                    <div class="link-box">
                        <span @mouseenter="cursor_enter" @mouseleave="cursor_leave" @click="open_url('https://twitter.com/strvert')" class="contents-box-item font-small"><i class="fab fa-twitter-square"></i> Twitter</span>
                        <span @mouseenter="cursor_enter" @mouseleave="cursor_leave" @click="open_url('https://github.com/strvworks')" class="contents-box-item font-small"><i class="fab fa-github-square"></i> GitHub</span>
                    </div>
                    <div class="link-box">
                        <span @mouseenter="cursor_enter" @mouseleave="cursor_leave" @click="open_url('https://www.facebook.com/strvert')" class="contents-box-item font-small"><i class="fab fa-facebook-square"></i> Facebook</span>
                    </div>
                </div>
            </div>
            <div class="contents-box-item font-small page-message footer-2"><span>This page is hosted</span><br><span>by GitHub Pages.</span></div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <script src="https://unpkg.com/ityped@1.0.3"></script>
    <script src="js/script.js"></script>
</body>
</html>
